Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-03, with the labels that each got.

#533 Update Canvas
  foundry/canvas.d.ts
Labels: foundry 0.7.9, version update

#538 Update Readme, Contributing guidelines, and set version to 0.7.9-0
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
Labels: documentation, foundry 0.7.9

#542 Fix some things in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#316 [ImagePopout] Update types to 0.7.9
  foundry/application.d.ts
  foundry/applications/formApplication.d.ts
  foundry/applications/formApplications/imagePopout.d.ts
Labels: foundry 0.7.9, version update

#545 Make die const param partial
  foundry/diceTerms/coin.d.ts
  foundry/diceTerms/die.d.ts
  foundry/diceTerms/fateDie.d.ts
Labels: bug, foundry 0.7.9

#547 Improve GridLayer and fix a couple of small problems
  foundry/pixi/containers/baseGrid.d.ts
  foundry/pixi/containers/canvasLayers/gridLayer.d.ts
  foundry/pixi/containers/placeableObject.d.ts
  foundry/pixi/graphics/gridHighlight.d.ts
  foundry/roll.d.ts
  test-d/foundry/pixi/shaders/containers/placeableObjects/tile.test-d.ts
Labels: bug, foundry 0.7.9

#549 Add publish workflow
  .github/workflows/checks.yml
  .github/workflows/release.yml
Labels: enhancement, foundry 0.7.9

#550 Update EULA to 0.7.9
  foundry/application.d.ts
  foundry/applications/eula.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#552 Update MainMenu to 0.7.9
  foundry/applications/mainMenu.d.ts
Labels: foundry 0.7.9, version update

#553 FormApplication Editor Changes - Foundry 0.7.9
  foundry/applications/formApplication.d.ts
Labels: foundry 0.7.9, version update

#532 WallsLayer, SceneConfig, and Optional parameters
  foundry/applications/dialog.d.ts
  test-d/foundry/applications/dialog.test-d.ts
Labels: foundry 0.7.9, version update

#534 Ray, ResizeHandle, NormalizedRectangle, QuadTree types for Foundry 0.7.9
  foundry/pixi/containers/canvasLayers/placeablesLayer.d.ts
  foundry/pixi/graphics/resizeHandle.d.ts
  foundry/pixi/rectangles/normalizedRectangle.d.ts
  foundry/quadtree.d.ts
  foundry/ray.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#527 Updates several canvas layers to 0.7.9
  foundry/canvas.d.ts
  foundry/pixi/containers/canvasLayer.d.ts
  foundry/pixi/containers/canvasLayers/backgroundLayer.d.ts
  foundry/pixi/containers/canvasLayers/controlsLayer.d.ts
  foundry/pixi/containers/canvasLayers/effectsLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/notesLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/soundsLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/templateLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/tilesLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/tokenLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.d.ts
  foundry/pixi/containers/canvasLayers/sightLayer.d.ts
  foundry/pixi/containers/cursor.d.ts
  foundry/pixi/containers/placeableObjects/ambientSound.d.ts
  foundry/types.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#541 Update MouseInteractionManager to 0.7.9
  foundry/canvas.d.ts
  foundry/mouseInteractionManager.d.ts
  foundry/pixi/containers/placeableObject.d.ts
  foundry/pixi/containers/placeableObjects/drawing.d.ts
  foundry/pixi/containers/placeableObjects/tile.d.ts
  foundry/pixi/containers/placeableObjects/token.d.ts
  foundry/pixi/containers/placeableObjects/wall.d.ts
  test-d/foundry/pixi/containers/placeableObject.test-d.ts
  test-d/foundry/pixi/containers/placeableObjects/wall.test-d.ts
Labels: foundry 0.7.9, version update

#573 Make DicePool.MODIFIERS extendable
  foundry/dicePool.d.ts
Labels: enhancement, foundry 0.7.9

#574 Update Enity.render
  foundry/entity.d.ts
Labels: bug, foundry 0.7.9

#572 Update ChatPopout to 0.7.9
  foundry/applications/chatPopout.d.ts
  foundry/entities/chatMessage.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#575 Fix Roll.render and roll.getTooltip return types
  foundry/entities/user.d.ts
  foundry/roll.d.ts
Labels: bug, foundry 0.7.9

#570 Update CameraViews to 0.7.9
  foundry/applications/cameraViews.d.ts
  foundry/avSettings.d.ts
Labels: foundry 0.7.9, version update

#571 Update UpdateNotes to 0.7.9
  foundry/applications/updateNotes.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#564 Update types on Combat
  foundry/collections/entityCollections/combatEncounters.d.ts
  foundry/entities/combat.d.ts
Labels: bug, foundry 0.7.9

#578 Small fixes to Roll and ChatMessage
  foundry/entities/chatMessage.d.ts
  foundry/roll.d.ts
Labels: foundry 0.7.9, version update

#582 Separate types of _data and data
  foundry/actorTokenHelpers.d.ts
  foundry/applications/formApplications/baseEntitySheet.d.ts
  foundry/collections/entityCollection.d.ts
  foundry/entities/actor.d.ts
  foundry/entities/folder.d.ts
  foundry/entities/item.d.ts
  foundry/entities/scene.d.ts
  foundry/entity.d.ts
  test-d/foundry/entities/actor.test-d.ts
Labels: foundry 0.7.9, version update

#587 Fix file name for CameraPopoutAppWrapper
  foundry/cameraPopoutAppWrapper.d.ts
Labels: bug, foundry 0.7.9

#588 Remove special handling of number in duplicate
  foundry/utils.d.ts
  test-d/foundry/applications/formApplications/baseEntitySheets/actorSheet.test-d.ts
  test-d/foundry/utils.test-d.ts
Labels: enhancement, foundry 0.7.9

#589 Add global _token
  foundry/globals.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update

#590 Add BLEND_MODES
  foundry/constants.d.ts
Labels: foundry 0.7.9, version update

#595 Solved issue : https://github.com/League-of-Foundry-Developers/foundry-vtt-types/issues/584
  foundry/collections/entityCollections/users.d.ts
Labels: bug, foundry 0.7.9

#596 Add InstallPackage to 0.7.9
  foundry/applications/installPackage.d.ts
  index.d.ts
Labels: foundry 0.7.9, version update
