Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-12, with the labels that each got.

#1235 Add ClientDatabaseBackend for 0.8.x
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/clientDatabaseBackend.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/index.d.ts
Labels: version update, foundry 0.8.x

#1418 Update dev dependencies
  package-lock.json
  package.json
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/common/data/data.mjs/actorData.d.ts
  src/foundry/common/data/data.mjs/ambientLightData.d.ts
  src/foundry/common/data/data.mjs/ambientSoundData.d.ts
  src/foundry/common/data/data.mjs/animationData.d.ts
  src/foundry/common/data/data.mjs/chatMessageData.d.ts
  src/foundry/common/data/data.mjs/chatSpeakerData.d.ts
  src/foundry/common/data/data.mjs/combatData.d.ts
  src/foundry/common/data/data.mjs/combatantData.d.ts
  src/foundry/common/data/data.mjs/darknessActivation.d.ts
  src/foundry/common/data/data.mjs/drawingData.d.ts
  src/foundry/common/data/data.mjs/effectChangeData.d.ts
  src/foundry/common/data/data.mjs/effectDurationData.d.ts
  src/foundry/common/data/data.mjs/fogExplorationData.d.ts
  src/foundry/common/data/data.mjs/folderData.d.ts
  src/foundry/common/data/data.mjs/itemData.d.ts
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/data/data.mjs/measuredTemplateData.d.ts
  src/foundry/common/data/data.mjs/noteData.d.ts
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/common/data/data.mjs/rollTableData.d.ts
  src/foundry/common/data/data.mjs/sceneData.d.ts
  src/foundry/common/data/data.mjs/settingData.d.ts
  src/foundry/common/data/data.mjs/tableResultData.d.ts
  src/foundry/common/data/data.mjs/tileData.d.ts
  src/foundry/common/data/data.mjs/tileOcclusion.d.ts
  src/foundry/common/data/data.mjs/tokenBarData.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  src/foundry/common/data/data.mjs/userData.d.ts
  src/foundry/common/data/data.mjs/videoData.d.ts
  src/foundry/common/data/data.mjs/wallData.d.ts
  src/foundry/common/packages.mjs/moduleData.d.ts
  src/foundry/common/packages.mjs/packageAuthorData.d.ts
  src/foundry/common/packages.mjs/packageCompendiumData.d.ts
  src/foundry/common/packages.mjs/packageData.d.ts
  src/foundry/common/packages.mjs/packageDependencyData.d.ts
  src/foundry/common/packages.mjs/packageLanguageData.d.ts
  src/foundry/common/packages.mjs/systemData.d.ts
  src/foundry/common/packages.mjs/worldData.d.ts
  src/foundry/foundry.js/canvasAnimation.d.ts
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  src/foundry/foundry.js/roll.d.ts
  src/foundry/foundry.js/rollTerm.d.ts
  src/foundry/foundry.js/rollTerms/stringTerm.d.ts
  src/types/utils.d.ts
  test-d/foundry/common/utils/helpers.mjs.test-d.ts
  test-d/types/utils.test-d.ts
Labels: types, foundry V9

#1419 Update foundry dependencies
  index.d.ts
  package-lock.json
  package.json
Labels: version update, foundry V9

#1438 Update constants.mjs for V9.235
  src/foundry/common/constants.mjs.d.ts
Labels: version update, foundry V9

#1440 V9/simple documents
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/ambientSoundData.d.ts
  src/foundry/common/documents.mjs/baseActiveEffect.d.ts
  src/foundry/common/documents.mjs/baseActor.d.ts
  src/foundry/common/documents.mjs/baseAmbientLight.d.ts
  src/foundry/common/documents.mjs/baseAmbientSound.d.ts
  src/foundry/common/documents.mjs/baseChatMessage.d.ts
  src/foundry/common/documents.mjs/baseCombat.d.ts
  src/foundry/common/documents.mjs/baseCombatant.d.ts
  src/foundry/common/documents.mjs/baseDrawing.d.ts
  src/foundry/common/documents.mjs/baseFogExploration.d.ts
  src/foundry/common/documents.mjs/baseFolder.d.ts
  src/foundry/common/documents.mjs/baseItem.d.ts
  src/foundry/common/documents.mjs/baseJournalEntry.d.ts
  src/foundry/common/documents.mjs/baseMacro.d.ts
  src/foundry/common/documents.mjs/baseMeasuredTemplate.d.ts
  src/foundry/common/documents.mjs/baseNote.d.ts
  src/foundry/common/documents.mjs/basePlaylist.d.ts
  src/foundry/common/documents.mjs/basePlaylistSound.d.ts
  src/foundry/common/documents.mjs/baseRollTable.d.ts
  src/foundry/common/documents.mjs/baseScene.d.ts
  src/foundry/common/documents.mjs/baseSetting.d.ts
  src/foundry/common/documents.mjs/baseTableResult.d.ts
  src/foundry/common/documents.mjs/baseTile.d.ts
  src/foundry/common/documents.mjs/baseToken.d.ts
  src/foundry/common/documents.mjs/baseUser.d.ts
  src/foundry/common/documents.mjs/baseWall.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/ambientSoundConfig.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/ambientSoundDocument.d.ts
  src/types/utils.d.ts
  test-d/foundry/common/data/data.mjs/ambientSoundData.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/ambientSoundDocument.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.test-d.ts
Labels: version update, foundry V9

#1441 Add and update types related to user inputs
  src/foundry/common/config.mjs/index.d.ts
  src/foundry/common/config.mjs/releaseData.d.ts
  src/foundry/common/module.mjs.d.ts
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  src/foundry/foundry.js/applications/formApplications/keybindingsConfig.d.ts
  src/foundry/foundry.js/clientKeybindings.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/gamepadManager.d.ts
  src/foundry/foundry.js/keyboardManager.d.ts
  src/foundry/foundry.js/mouseManager.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/keyboardManager.test-d.ts
Labels: version update, foundry V9

#1445 Update ClientDocumentMixin to v9
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  test-d/foundry/foundry.js/clientDocuments/macro.test-d.ts
Labels: version update, foundry V9

#1448 Update CanvasDocumentMixin to v9.235
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
Labels: version update, foundry V9

#1467 Update Document to v9.236
  src/foundry/common/abstract/document.mjs.d.ts
Labels: version update, foundry V9

#1446 Update fields.mjs to v9.235
  src/foundry/common/data/fields.mjs.d.ts
Labels: version update, foundry V9

#1447 Update config to v9.235
  src/foundry/foundry.js/config.d.ts
  test-d/foundry/foundry.js/canvas.test-d.ts
Labels: version update, foundry V9

#1465 Update constants.mjs to v9.236
  src/foundry/common/constants.mjs.d.ts
Labels: version update, foundry V9

#1466 Add NewUserExperience
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/newUserExperience.d.ts
  src/foundry/index.d.ts
Labels: version update, foundry V9

#1450 V9/canvas groups
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/pixi/containers/cachedContainer.d.ts
  src/foundry/foundry.js/pixi/containers/cachedContainers/index.d.ts
  src/foundry/foundry.js/pixi/containers/cachedContainers/primaryCanvasGroup.d.ts
  src/foundry/foundry.js/pixi/containers/effectsCanvasGroup.d.ts
  src/foundry/foundry.js/pixi/containers/index.d.ts
  src/foundry/foundry.js/pixi/containers/interfaceCanvasGroup.d.ts
Labels: version update, foundry V9

#1464 Update keybindings to v9.236
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/applications/formApplications/keybindingsConfig.d.ts
  src/foundry/foundry.js/clientKeybindings.d.ts
  src/foundry/foundry.js/keyboardManager.d.ts
  test-d/foundry/foundry.js/keyboardManager.test-d.ts
Labels: version update, foundry V9

#1469 Add data classes for cards
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/common/data/data.mjs/cardData.d.ts
  src/foundry/common/data/data.mjs/cardFaceData.d.ts
  src/foundry/common/data/data.mjs/cardsData.d.ts
  src/foundry/common/data/data.mjs/chatMessageData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  test-d/foundry/common/data/data.mjs/cardData.test-d.ts
  test-d/foundry/common/data/data.mjs/cardsData.test-d.ts
Labels: version update, foundry V9

#1470 Update primitives for V9
  src/foundry/common/utils/primitives.mjs.d.ts
Labels: version update, foundry V9

#1477 Update GamepadManager and KeyboardManager for V9.238
  src/foundry/foundry.js/gamepadManager.d.ts
  src/foundry/foundry.js/keyboardManager.d.ts
Labels: version update, foundry V9

#1478 Update CardData and CardsData for V9.238
  src/foundry/common/data/data.mjs/cardData.d.ts
  src/foundry/common/data/data.mjs/cardsData.d.ts
Labels: version update, foundry V9

#1479 Update helpers.mjs for V9.238
  src/foundry/common/utils/helpers.mjs.d.ts
  test-d/foundry/common/utils/helpers.mjs.test-d.ts
Labels: version update, foundry V9

#1481 Add BaseCard and BaseCards
  src/foundry/common/data/data.mjs/cardData.d.ts
  src/foundry/common/data/data.mjs/cardsData.d.ts
  src/foundry/common/documents.mjs/baseCard.d.ts
  src/foundry/common/documents.mjs/baseCards.d.ts
  src/foundry/common/documents.mjs/index.d.ts
  src/foundry/foundry.js/config.d.ts
  test-d/foundry/common/data/data.mjs/cardData.test-d.ts
  test-d/foundry/common/documents.mjs/baseActor.test-d.ts
  test-d/foundry/common/documents.mjs/baseCard.test-d.ts
  test-d/foundry/common/documents.mjs/baseCards.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
Labels: version update, foundry V9

#1482 Update ambient related data to v9.238
  src/foundry/common/data/data.mjs/ambientLightData.d.ts
  src/foundry/common/data/data.mjs/ambientSoundData.d.ts
  src/foundry/common/data/data.mjs/animationData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/lightData.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/ambientLightConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/lightConfig.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/lightConfig.test-d.ts
Labels: version update, foundry V9

#1487 V9/item data
  src/foundry/common/data/data.mjs/itemData.d.ts
Labels: version update, foundry V9

#1488 V9/actor data
  src/foundry/common/data/data.mjs/actorData.d.ts
Labels: version update, foundry V9

#1489 V9/package data
  src/foundry/common/packages.mjs/packageCompendiumData.d.ts
  src/foundry/common/packages.mjs/packageData.d.ts
  src/foundry/common/packages.mjs/worldData.d.ts
Labels: version update, foundry V9

#1490 Update remaining data classes to v9.238
  src/foundry/common/data/data.mjs/combatData.d.ts
  src/foundry/common/data/data.mjs/combatantData.d.ts
  src/foundry/common/data/data.mjs/effectChangeData.d.ts
  src/foundry/common/data/data.mjs/folderData.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/data/data.mjs/measuredTemplateData.d.ts
  src/foundry/common/data/data.mjs/noteData.d.ts
  src/foundry/common/data/data.mjs/playlistData.d.ts
  src/foundry/common/data/data.mjs/playlistSoundData.d.ts
  src/foundry/common/data/data.mjs/sceneData.d.ts
  src/foundry/common/data/data.mjs/userData.d.ts
  src/foundry/common/data/data.mjs/wallData.d.ts
  test-d/foundry/common/data/data.mjs/wallData.test-d.ts
Labels: version update, foundry V9

#1493 Add AdventureData
  src/foundry/common/data/data.mjs/adventureData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
Labels: version update, foundry V9

#1486 V9/token data
  src/foundry/common/data/data.mjs/tokenData.d.ts
Labels: version update, foundry V9

#1483 Add Card and Cards
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/card.d.ts
  src/foundry/foundry.js/clientDocuments/cards.d.ts
  src/foundry/foundry.js/clientDocuments/folder.d.ts
  src/foundry/foundry.js/clientDocuments/index.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/hooks.d.ts
  test-d/foundry/common/documents.mjs/baseCard.test-d.ts
  test-d/foundry/common/documents.mjs/baseCards.test-d.ts
  test-d/foundry/foundry.js/canvasDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/card.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/cards.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/macro.test-d.ts
Labels: version update, foundry V9

#1495 Add BaseAdventure
  src/foundry/common/documents.mjs/baseAdventure.d.ts
  src/foundry/common/documents.mjs/index.d.ts
  src/foundry/foundry.js/config.d.ts
Labels: version update, foundry V9

#1498 Add CardStacks and CardsDirectory
  src/foundry/common/constants.mjs.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/cardsDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/cardStacks.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/index.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/game.d.ts
Labels: version update, foundry V9

#1503 Update Game.Data to v9.238
  src/foundry/foundry.js/game.d.ts
Labels: bug, version update, foundry V9
