Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-05, with the labels that each got.

#607 Add a missing closing generic bracket to hooks doc
  foundry/hooks.d.ts
Labels: documentation, foundry 0.7.9

#609 Add some missing door control properties
  foundry/pixi/containers/doorControl.d.ts
Labels: foundry 0.7.9, version update

#610 Add some missing door control properties
  src/foundry/pixi/containers/doorControl.d.ts
Labels: foundry 0.8.2, version update

#611 Update GridLayer to 0.8.2
  src/foundry/pixi/containers/canvasLayers/gridLayer.d.ts
Labels: foundry 0.8.2, version update

#774 Update README.md for 0.8.2
  README.md
Labels: documentation, foundry 0.8.2

#779 refactor: document sheet, actor sheet
  CONTRIBUTING.md
  index.d.ts
  src/foundry/applications/formApplications/baseEntitySheet.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/actorSheet.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/itemSheet.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/journalSheet.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/macroConfig.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/permissionControl.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/playlistConfig.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/rollTableConfig.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/sceneConfig.d.ts
  src/foundry/applications/formApplications/documentSheet.d.ts
  src/foundry/entity.d.ts
Labels: foundry 0.8.2, version update

#780 Updated Roll and related classes to 0.8.3
  .gitignore
  index.d.ts
  src/foundry/dicePool.d.ts
  src/foundry/diceTerms/fateDie.d.ts
  src/foundry/roll.d.ts
  src/foundry/rollTerm.d.ts
  src/foundry/rollTerms/diceTerm.d.ts
  src/foundry/rollTerms/diceTerms/coin.d.ts
  src/foundry/rollTerms/diceTerms/die.d.ts
  src/foundry/rollTerms/diceTerms/fateDie.d.ts
  src/foundry/rollTerms/mathTerm.d.ts
  src/foundry/rollTerms/numericTerm.d.ts
  src/foundry/rollTerms/operatorTerm.d.ts
  src/foundry/rollTerms/parentheticalTerm.d.ts
  src/foundry/rollTerms/poolTerm.d.ts
  src/foundry/rollTerms/stringTerm.d.ts
Labels: foundry 0.8.3, version update

#792 Add two new eslint rules and fix some errors
  .eslintrc.js
  foundry/avMaster.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.d.ts
  foundry/pixi/containers/placeableObjects/drawing.d.ts
  foundry/pixi/containers/placeableObjects/measuredTemplate.d.ts
  foundry/pixi/containers/placeableObjects/wall.d.ts
  foundry/pixi/texts/preciseText.d.ts
  foundry/ray.d.ts
  test-d/foundry/pixi/containers/placeableObject.test-d.ts
Labels: enhancement, foundry 0.7.x

#793 Add two new eslint rules and fix some errors
  .eslintrc.js
  src/foundry/avMaster.d.ts
  src/foundry/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.d.ts
  src/foundry/pixi/containers/placeableObjects/drawing.d.ts
  src/foundry/pixi/containers/placeableObjects/measuredTemplate.d.ts
  src/foundry/pixi/containers/placeableObjects/wall.d.ts
  src/foundry/pixi/texts/preciseText.d.ts
  src/foundry/ray.d.ts
  test-d/foundry/pixi/containers/placeableObject.test-d.ts
Labels: enhancement, foundry 0.8.x

#812 0.8.x/folder
  index.d.ts
  src/common/data/data/folderData.d.ts
  src/common/data/data/index.d.ts
  src/common/documents/baseFolder.d.ts
  src/foundry/applications/formApplications/folderConfig.d.ts
  src/foundry/clientDocuments/folder.d.ts
  src/foundry/collections/entityCollections/folders.d.ts
  src/foundry/config.d.ts
  src/foundry/entities/folder.d.ts
  test-d/common/documents/folder.test-d.ts
Labels: foundry 0.8.x, version update

#811 0.8.x/journal entry
  index.d.ts
  src/common/data/data/index.d.ts
  src/common/data/data/journalEntryData.d.ts
  src/common/documents/baseJournalEntry.d.ts
  src/common/documents/index.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/journalSheet.d.ts
  src/foundry/applications/sidebarTabs/sidebarDirectories/journalDirectory.d.ts
  src/foundry/clientDocuments/journalEntry.d.ts
  src/foundry/collections/entityCollections/journal.d.ts
  src/foundry/entities/journalEntry.d.ts
  src/foundry/pixi/containers/canvasLayers/placeablesLayers/notesLayer.d.ts
  src/types/utils.d.ts
  test-d/common/documents/baseFolder.test-d.ts
  test-d/common/documents/baseJournalEntry.test-d.ts
Labels: foundry 0.8.x, version update

#815 Add _executeScript to Macro
  README.md
  foundry/entities/macro.d.ts
  package-lock.json
  package.json
Labels: foundry 0.7.x, version update
