Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-06, with the labels that each got.

#833 Add configuration for _source
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/common/abstract/data.mjs.d.ts
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/abstract/embedded-collection.mjs.d.ts
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/common/data/data.mjs/ambientLightData.d.ts
  src/foundry/common/data/data.mjs/animationData.d.ts
  src/foundry/common/data/data.mjs/darknessActivation.d.ts
  src/foundry/common/data/data.mjs/effectChangeData.d.ts
  src/foundry/common/data/data.mjs/effectDurationData.d.ts
  src/foundry/common/data/data.mjs/folderData.d.ts
  src/foundry/common/data/data.mjs/itemData.d.ts
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/documents.mjs/baseActiveEffect.d.ts
  src/foundry/common/documents.mjs/baseItem.d.ts
  src/foundry/common/documents.mjs/baseMacro.d.ts
  src/foundry/common/packages.mjs/packageAuthorData.d.ts
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/activeEffect.d.ts
  src/foundry/foundry.js/clientDocuments/folder.d.ts
  src/foundry/foundry.js/collections/entityCollections/macros.d.ts
  src/foundry/foundry.js/config.d.ts
  src/types/helperTypes.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
Labels: critical path, foundry 0.8.x, version update

#835 Added ActorData and adjusted BaseActor
  src/foundry/common/data/data.mjs/actorData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/itemData.d.ts
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/common/documents.mjs/baseActor.d.ts
  test-d/foundry/common/documents.mjs/baseActor.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
Labels: foundry 0.8.x, version update

#838 Add DocumentCollection and WorldCollection, and some deriving classes
  src/foundry/common/utils/collection.mjs.d.ts
  src/foundry/foundry.js/collections/documentCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/folders.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/items.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/journal.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/macros.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/messages.d.ts
  src/foundry/foundry.js/collections/entityCollections/folders.d.ts
  src/foundry/foundry.js/collections/entityCollections/index.d.ts
  src/foundry/foundry.js/collections/entityCollections/items.d.ts
  src/foundry/foundry.js/collections/entityCollections/journal.d.ts
  src/foundry/foundry.js/collections/entityCollections/macros.d.ts
  src/foundry/foundry.js/collections/entityCollections/messages.d.ts
  src/foundry/foundry.js/collections/index.d.ts
  src/foundry/foundry.js/utils.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/folders.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/items.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/journal.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/macros.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/messages.test-d.ts
Labels: critical path, foundry 0.8.x, version update

#831 Application, FormApplication, DocumentSheet → v0.8.x
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/compendium.d.ts
  src/foundry/foundry.js/applications/eula.d.ts
  src/foundry/foundry.js/applications/filePicker.d.ts
  src/foundry/foundry.js/applications/formApplication.d.ts
  src/foundry/foundry.js/applications/formApplications/baseEntitySheet.d.ts
  src/foundry/foundry.js/applications/formApplications/baseEntitySheets/permissionControl.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/moduleManagement.d.ts
  src/foundry/foundry.js/applications/formApplications/userConfig.d.ts
  src/foundry/foundry.js/applications/installPackage.d.ts
  src/foundry/foundry.js/applications/notifications.d.ts
  src/foundry/foundry.js/applications/sidebarTab.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectory.d.ts
  src/foundry/foundry.js/entity.d.ts
  test-d/foundry/foundry.js/application.test-d.ts
  test-d/foundry/foundry.js/documentSheet.test-d.ts
  test-d/foundry/foundry.js/draggable.test-d.ts
  test-d/foundry/foundry.js/formApplication.test-d.ts
Labels: foundry 0.8.x, version update

#836 0.8.x/expanded document data
  src/foundry/common/abstract/data.mjs.d.ts
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/constants.mjs.d.ts
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/common/data/data.mjs/actorData.d.ts
  src/foundry/common/data/data.mjs/ambientLightData.d.ts
  src/foundry/common/data/data.mjs/animationData.d.ts
  src/foundry/common/data/data.mjs/darknessActivation.d.ts
  src/foundry/common/data/data.mjs/effectChangeData.d.ts
  src/foundry/common/data/data.mjs/effectDurationData.d.ts
  src/foundry/common/data/data.mjs/folderData.d.ts
  src/foundry/common/data/data.mjs/itemData.d.ts
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/common/data/data.mjs/userData.d.ts
  src/foundry/common/data/fields.mjs.d.ts
  src/foundry/common/documents.mjs/baseActiveEffect.d.ts
  src/foundry/common/documents.mjs/baseActor.d.ts
  src/foundry/common/documents.mjs/baseMacro.d.ts
  src/foundry/common/packages.mjs/packageAuthorData.d.ts
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/activeEffect.d.ts
  src/types/helperTypes.ts
  test-d/foundry/common/abstract/data.mjs.test-d.ts
  test-d/foundry/common/data/data.mjs/actorData.test-d.ts
  test-d/foundry/common/data/data.mjs/folderData.test-d.ts
  test-d/foundry/common/data/data.mjs/itemData.test-d.ts
  test-d/foundry/common/data/data.mjs/journalEntryData.test-d.ts
  test-d/foundry/common/data/data.mjs/macroData.test-d.ts
  test-d/foundry/common/data/data.mjs/userData.test-d.ts
  test-d/foundry/common/documents.mjs/baseActor.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/macro.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/user.test-d.ts
Labels: foundry 0.8.x, types

#837 PlaceableObject → 0.8.x
  src/foundry/common/documents.mjs/baseAmbientLight.d.ts
  src/foundry/common/documents.mjs/baseWall.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUD.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientLight.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/drawing.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/note.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/tile.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/token.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/wall.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObject.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/wall.test-d.ts
  test-d/foundry/foundry.js/pixi/shaders/containers/placeableObjects/tile.test-d.ts
Labels: foundry 0.8.x, version update

#877 0.8.x/token data
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/common/data/data.mjs/tokenBarData.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
Labels: foundry 0.8.x, version update

#879 Also properly type TokenData constructor data
  src/foundry/common/data/data.mjs/tokenData.d.ts
Labels: foundry 0.8.x, version update

#822 Add methods and getters to Actor
  src/foundry/foundry.js/clientDocuments/actor.d.ts
Labels: foundry 0.8.x, version update

#881 Update Actors and CombatEncounters, and Playlists for 0.8.x
  src/foundry/foundry.js/clientDocuments/combat.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/actors.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.d.ts
  src/foundry/foundry.js/collections/entityCollections/actors.d.ts
  src/foundry/foundry.js/collections/entityCollections/combatEncounters.d.ts
  src/foundry/foundry.js/collections/entityCollections/index.d.ts
  src/foundry/foundry.js/collections/entityCollections/playlists.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/actors.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.test-d.ts
Labels: foundry 0.8.x, version update

#880 Update Item and ItemSheet for 0.8.x
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/index.d.ts
  src/foundry/foundry.js/applications/formApplication.d.ts
  src/foundry/foundry.js/applications/formApplications/baseEntitySheet.d.ts
  src/foundry/foundry.js/applications/formApplications/baseEntitySheets/itemSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/itemSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/journalSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/macroConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/permissionControl.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/playlistConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/rollTableConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/sceneConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  src/foundry/foundry.js/applications/index.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/index.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/index.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/item.d.ts
  src/foundry/index.d.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/common/documents.mjs/baseActiveEffect.test-d.ts
  test-d/foundry/common/documents.mjs/baseFolder.test-d.ts
  test-d/foundry/common/documents.mjs/baseJournalEntry.test-d.ts
  test-d/foundry/common/documents.mjs/baseUser.test-d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/itemSheet.test-d.ts
  test-d/foundry/foundry.js/canvasDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/item.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/macro.test-d.ts
Labels: foundry 0.8.x, version update

#888 Update socket.io-client to 4.1.2 (the version used by foundryvtt v0.8.7)
  index.d.ts
  package-lock.json
  package.json
  src/foundry/foundry.js/collections/documentCollections/worldCollections/journal.d.ts
  src/foundry/foundry.js/collections/entityCollections/scenes.d.ts
  src/foundry/foundry.js/collections/entityCollections/users.d.ts
  src/foundry/foundry.js/entity.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/gameTime.d.ts
  src/types/augments/index.d.ts
  src/types/augments/socket.io-client.d.ts
Labels: foundry 0.8.x, version update

#829 MeasuredTemplate, BaseMeasuredTemplate, MeasuredTemplateData, MeasuredTemplateDocument -> v0.8.6
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/measuredTemplateData.d.ts
  src/foundry/common/documents.mjs/baseMeasuredTemplate.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/measuredTemplateDocument.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.d.ts
  src/foundry/index.d.ts
  test-d/foundry/common/data/data.mjs/measuredTemplateData.test-d.ts
  test-d/foundry/common/documents.mjs/baseMeasuredTemplate.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/measuredTemplateDocument.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.test-d.ts
Labels: foundry 0.8.x, version update

#885 Update ActiveEffectConfig to 0.8.7
  src/foundry/foundry.js/applications/formApplications/activeEffectConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.test-d.ts
Labels: foundry 0.8.x, version update

#890 Require the first parameter of FormApplication
  src/foundry/foundry.js/applications/formApplication.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/itemSheet.test-d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/userConfig.test-d.ts
Labels: bug, foundry 0.8.x, good first issue

#891 Fix tests
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.test-d.ts
Labels: foundry 0.8.x

#876 Compendiumcollection
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/utils/collection.mjs.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/index.d.ts
  src/types/helperTypes.ts
  test-d/foundry/foundry.js/collections/documentCollections/compendiumCollection.test-d.ts
Labels: foundry 0.8.x, version update

#902 Update TokenData, DiceTerm, FormDataExtended, AVConfig for 0.8.8
  src/foundry/common/data/data.mjs/tokenData.d.ts
  src/foundry/common/documents.mjs/baseDrawing.d.ts
  src/foundry/common/documents.mjs/basePlaylist.d.ts
  src/foundry/common/documents.mjs/basePlaylistSound.d.ts
  src/foundry/foundry.js/applications/formApplications/avConfig.d.ts
  src/foundry/foundry.js/formDataExtended.d.ts
  src/foundry/foundry.js/rollTerms/diceTerm.d.ts
Labels: foundry 0.8.x, version update

#900 0.8.x/update dependencies
  .github/workflows/release.yml
  index.d.ts
  package-lock.json
  package.json
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/common/abstract/data.mjs.d.ts
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUD.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/tokenHUD.d.ts
  src/foundry/foundry.js/applications/formApplication.d.ts
  src/foundry/foundry.js/applications/sceneControls.d.ts
  src/foundry/foundry.js/audioHelper.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/token.d.ts
  src/foundry/foundry.js/textEditor.d.ts
  src/types/augments/howler.d.ts
  src/types/augments/index.d.ts
  src/types/augments/simple-peer.d.ts
  src/types/augments/tinyMCE.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObject.test-d.ts
Labels: foundry 0.8.x

#893 Combatant, BaseCombatant
  src/foundry/common/documents.mjs/baseCombatant.d.ts
  src/foundry/foundry.js/clientDocuments/combatant.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/index.d.ts
  test-d/foundry/common/documents.mjs/baseCombatant.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/combatant.test-d.ts
Labels: foundry 0.8.x, version update

#904 Update ActorSheet
  src/foundry/common/abstract/embedded-collection.mjs.d.ts
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/formApplication.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/actor.d.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.test-d.ts
Labels: foundry 0.8.x, version update

#826 Token, BaseToken, TokenDocument → v0.8.6
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  src/foundry/common/documents.mjs/baseToken.d.ts
  src/foundry/foundry.js/clientDocuments/actor.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/globals.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/token.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/combatant.test-d.ts
  test-d/foundry/foundry.js/globals.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/token.test-d.ts
Labels: foundry 0.8.x, version update

#909 Small Actor fix
  src/foundry/foundry.js/clientDocuments/actor.d.ts
Labels: bug, foundry 0.8.x

#910 Small fix for client settings
  src/foundry/foundry.js/clientSettings.d.ts
  test-d/foundry/foundry.js/clientSettings.test-d.ts
Labels: bug, foundry 0.8.x

#911 Small document fix
  src/foundry/common/abstract/document.mjs.d.ts
Labels: bug, foundry 0.8.x

#912 Small Roll fix
  src/foundry/foundry.js/roll.d.ts
  test-d/foundry/foundry.js/roll.test-d.ts
Labels: bug, foundry 0.8.x

#907 Merge arrays as arrays and not as records
  src/foundry/common/utils/helpers.mjs.d.ts
  test-d/foundry/common/utils/helpers.mjs.test-d.ts
Labels: bug, foundry 0.8.x, help wanted

#913 Fix a small mistake in ActorSheet.Data
  src/foundry/foundry.js/applications/formApplications/documentSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
Labels: bug, foundry 0.8.x

#914 Add proper async overloads for RollTerm#evaluate and fix async overlo…
  src/foundry/foundry.js/roll.d.ts
  src/foundry/foundry.js/rollTerm.d.ts
  test-d/foundry/foundry.js/roll.test-d.ts
  test-d/foundry/foundry.js/rollTerm.test-d.ts
Labels: bug, foundry 0.8.x

#908 Update CONFIG and add WorldSettings
  src/foundry/foundry.js/applications/formApplications/permissionConfig.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/worldSettings.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/worldSettingsStorage.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/worldSettings.test-d.ts
Labels: foundry 0.8.x, version update
