Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-09, with the labels that each got.

#1172 Fix invalid return type of Actor.getActiveTokens()
  src/foundry/foundry.js/clientDocuments/actor.d.ts
  test-d/foundry/foundry.js/clientDocuments/actor.test-d.ts
Labels: foundry 0.8.x

#1173 Fix a ToDo on User and add missing User.{charname,color,border}
  src/foundry/foundry.js/clientDocuments/user.d.ts
  test-d/foundry/foundry.js/clientDocuments/user.test-d.ts
Labels: bug, foundry 0.8.x

#1175 Fix Return Type of ActiveEffectConfig._onEffectControl
  src/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.d.ts
Labels: bug, foundry 0.8.x

#1178 Fix IndexTypeForMetadata of CompendiumCollection
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/compendiumCollection.test-d.ts
Labels: bug, foundry 0.8.x

#1179 Support type guards within Collection.{filter,find}
  src/foundry/common/utils/collection.mjs.d.ts
  test-d/foundry/common/utils/collection.mjs.test-d.ts
Labels: foundry 0.8.x

#1166 Fix ActorSheet.token
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.test-d.ts
Labels: bug, foundry 0.8.x

#1161 Add PlaceableObjectClassConfig
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.d.ts
  src/types/helperTypes.d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/notesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/soundsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/templateLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/tokenLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.test-d.ts
Labels: types, foundry 0.8.x

#1168 Update MacroConfig to 0.8.9
  src/foundry/foundry.js/applications/formApplications/documentSheets/macroConfig.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/macroConfig.test-d.ts
Labels: version update, foundry 0.8.x

#1164 Add core ActiveEffect flags to FlagConfig
  src/foundry/foundry.js/config.d.ts
  test-d/foundry/foundry.js/clientDocuments/activeEffect.test-d.ts
Labels: foundry 0.8.x

#1169 Update MainMenu to 0.8.9
  src/foundry/foundry.js/applications/mainMenu.d.ts
  test-d/foundry/foundry.js/applications/mainMenu.test-d.ts
Labels: version update, foundry 0.8.x

#1163 Update dependencies and prepare for exactOptionalPropertyTypes option
  .github/workflows/checks.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/foundry/common/utils/helpers.mjs.d.ts
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUD.d.ts
  src/foundry/foundry.js/applications/formApplications/gridConfig.d.ts
  tsconfig.json
Labels: types, foundry 0.8.x

#1180 Make TextEditor.enrichHTML options partial
  src/foundry/foundry.js/textEditor.d.ts
Labels: foundry 0.8.x

#1176 StoredDocument [3]: Document
  src/foundry/common/abstract/document.mjs.d.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/common/documents.mjs/baseActiveEffect.test-d.ts
  test-d/foundry/common/documents.mjs/baseChatMessage.test-d.ts
  test-d/foundry/common/documents.mjs/baseCombat.test-d.ts
  test-d/foundry/common/documents.mjs/baseCombatant.test-d.ts
  test-d/foundry/common/documents.mjs/baseDrawing.test-d.ts
  test-d/foundry/common/documents.mjs/baseFogExploration.test-d.ts
  test-d/foundry/common/documents.mjs/baseFolder.test-d.ts
  test-d/foundry/common/documents.mjs/baseJournalEntry.test-d.ts
  test-d/foundry/common/documents.mjs/baseScene.test-d.ts
  test-d/foundry/common/documents.mjs/baseSetting.test-d.ts
  test-d/foundry/common/documents.mjs/baseUser.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/combatant.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/macro.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/setting.test-d.ts
Labels: foundry 0.8.x

#1177 CombatTracker → v0.8.9
  src/foundry/foundry.js/applications/sidebarTabs/combatTracker.d.ts
  test-d/foundry/foundry.js/applications/sidebarTabs/combatTracker.test-d.ts
Labels: version update, foundry 0.8.x

#1170 Update HUDs to v0.8.9
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUD.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/drawingHUD.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/tileHUD.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/tokenHUD.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientLight.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/drawing.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/note.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/tile.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/wall.d.ts
  test-d/foundry/foundry.js/applications/basePlaceableHUD.test-d.ts
  test-d/foundry/foundry.js/applications/basePlaceableHUD/drawingHUD.test-d.ts
  test-d/foundry/foundry.js/applications/basePlaceableHUD/tileHUD.test-d.ts
  test-d/foundry/foundry.js/applications/basePlaceableHUD/tokenHUD.test-d.ts
  test-d/foundry/foundry.js/pixi/shaders/containers/placeableObjects/tile.test-d.ts
Labels: version update, foundry 0.8.x

#1181 Update TextureLoader for 0.8.9
  src/foundry/foundry.js/textureLoader.d.ts
Labels: version update, foundry 0.8.x

#1182 Moves core flags for ActiveEffect to ActiveEffectData
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/foundry.js/config.d.ts
  test-d/foundry/foundry.js/clientDocuments/activeEffect.test-d.ts
Labels: foundry 0.8.x

#1184 update constants and global variables
  src/foundry/common/constants.mjs.d.ts
  src/foundry/foundry.js/globalVariables.d.ts
Labels: version update, foundry 0.8.x

#1186 Add InverseOcclusionMaskFilter
  src/foundry/foundry.js/pixi/filters/abstractBaseMaskFilter.d.ts
  src/foundry/foundry.js/pixi/filters/abstractBaseMaskFilters/index.d.ts
  src/foundry/foundry.js/pixi/filters/abstractBaseMaskFilters/inverseOcclusionMaskFilter.d.ts
  src/foundry/foundry.js/pixi/filters/index.d.ts
  test-d/foundry/foundry.js/pixi/filter/abstractBaseMaskFilter.test-d.ts
  test-d/foundry/foundry.js/pixi/filter/abstractBaseMaskFilters/inverseOcclusionMaskFilter.test-d.ts
Labels: version update, foundry 0.8.x

#1185 Update VideoHelper
  src/foundry/foundry.js/videoHelper.d.ts
Labels: version update, foundry 0.8.x

#1183 Update special effects
  src/foundry/foundry.js/specialEffect.d.ts
  src/foundry/foundry.js/specialEffects/autumnLeavesWeatherEffect.d.ts
  src/foundry/foundry.js/specialEffects/index.d.ts
  src/foundry/foundry.js/specialEffects/rainWeatherEffect.d.ts
  src/foundry/foundry.js/specialEffects/snowWeatherEffect.d.ts
  src/foundry/index.d.ts
Labels: version update, foundry 0.8.x

#1187 Update ChatPopout to 0.8.9
  src/foundry/foundry.js/applications/chatPopout.d.ts
  test-d/foundry/foundry.js/applications/chatPopout.test-d.ts
Labels: version update, foundry 0.8.x

#1188 Update ChatBubbles to 0.8.9
  src/foundry/foundry.js/chatBubbles.d.ts
  test-d/foundry/foundry.js/chatBubbles.test-d.ts
Labels: version update, foundry 0.8.x

#1190 Fix invalid return type of UserConfig._updateObject
  src/foundry/foundry.js/applications/formApplications/documentSheets/userConfig.d.ts
Labels: bug, foundry 0.8.x

#958 Update RollTable and TableResult to 0.8.8 data
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/rollTableData.d.ts
  src/foundry/common/data/data.mjs/tableResultData.d.ts
  src/foundry/common/documents.mjs/baseRollTable.d.ts
  src/foundry/common/documents.mjs/baseTableResult.d.ts
  src/foundry/foundry.js/clientDocuments/rollTable.d.ts
  src/foundry/foundry.js/clientDocuments/tableResult.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/clientDocuments/rollTable.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/rollTables.test-d.ts
Labels: version update, foundry 0.8.x

#1189 Update Wall to 0.8.9
  src/foundry/foundry.js/applications/formApplications/wallConfig.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/wall.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/wall.test-d.ts
Labels: version update, foundry 0.8.x
