Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-04, with the labels that each got.

#224 Name based typed hooks
  foundry/applications/formApplications/baseEntitySheets/actorSheet.d.ts
  foundry/applications/hotbar.d.ts
  foundry/canvas.d.ts
  foundry/entities/user.d.ts
  foundry/hooks.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/notesLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/tilesLayer.d.ts
  foundry/pixi/containers/canvasLayers/placeablesLayers/tokenLayer.d.ts
  test-d/foundry/custom-hooks.d.ts
  test-d/foundry/hooks.test-d.ts
Labels: enhancement, foundry 0.7.9

#593 Use an alternate approach to defining types for ClientSettings
  foundry/applications/sidebarTabs/combatTracker.d.ts
  foundry/clientSettings.d.ts
  foundry/entities/combat.d.ts
  test-d/foundry/clientSettings.test-d.ts
Labels: enhancement, foundry 0.7.9

#604 Update README to point to 0.8.1 issues
  README.md
Labels: documentation, foundry 0.8.1

#603 Update the README to point to 0.8.1 issues
  README.md
Labels: documentation, foundry 0.7.9

#600 Add helpers for 0.8.1
  src/common/module.d.ts
  src/common/utils/helpers.d.ts
  src/foundry/applications/basePlaceableHUD.d.ts
  src/foundry/applications/cameraViews.d.ts
  src/foundry/applications/formApplication.d.ts
  src/foundry/applications/formApplications/activeEffectConfig.d.ts
  src/foundry/applications/formApplications/ambientSoundConfig.d.ts
  src/foundry/applications/formApplications/baseEntitySheet.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/macroConfig.d.ts
  src/foundry/applications/formApplications/baseEntitySheets/playlistConfig.d.ts
  src/foundry/applications/formApplications/entitySheetConfig.d.ts
  src/foundry/applications/formApplications/lightConfig.d.ts
  src/foundry/applications/formApplications/measuredTemplateConfig.d.ts
  src/foundry/applications/formApplications/moduleManagement.d.ts
  src/foundry/applications/formApplications/noteConfig.d.ts
  src/foundry/applications/formApplications/playlistSoundConfig.d.ts
  src/foundry/applications/formApplications/settingsConfig.d.ts
  src/foundry/applications/formApplications/tileConfig.d.ts
  src/foundry/applications/formApplications/tokenConfig.d.ts
  src/foundry/applications/formApplications/wallConfig.d.ts
  src/foundry/applications/sceneNavigation.d.ts
  src/foundry/applications/sidebarTabs/combatTracker.d.ts
  src/foundry/applications/sidebarTabs/sidebarDirectories/playlistDirectory.d.ts
  src/foundry/draggable.d.ts
  src/foundry/entities/actor.d.ts
  src/foundry/entities/item.d.ts
  src/foundry/entity.d.ts
  src/foundry/utils.d.ts
  test-d/common/utils/helpers.test-d.ts
  test-d/foundry/utils.test-d.ts
  test-d/tsconfig.json
Labels: foundry 0.8.1, version update

#608 Add a missing closing generic brace to hooks doc
  src/foundry/hooks.d.ts
Labels: documentation, foundry 0.8.1
