Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-08, with the labels that each got.

#960 Add rejectClose to Dialog.prompt
  src/foundry/foundry.js/applications/dialog.d.ts
  test-d/foundry/foundry.js/applications/dialog.test-d.ts
Labels: bug, foundry 0.8.x

#961 Apply StoredDocument to game.scenes, game.user and canvas.scene
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/scenes.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/users.d.ts
  src/foundry/foundry.js/game.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/scenes.test-d.ts
Labels: foundry 0.8.x

#944 SceneData, BaseScene, Scene → 0.8.8
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/ambientSoundData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/measuredTemplateData.d.ts
  src/foundry/common/data/data.mjs/noteData.d.ts
  src/foundry/common/data/data.mjs/sceneData.d.ts
  src/foundry/common/data/data.mjs/tileData.d.ts
  src/foundry/common/data/data.mjs/tileOcclusion.d.ts
  src/foundry/common/data/data.mjs/videoData.d.ts
  src/foundry/common/data/data.mjs/wallData.d.ts
  src/foundry/common/documents.mjs/baseAmbientSound.d.ts
  src/foundry/common/documents.mjs/baseNote.d.ts
  src/foundry/common/documents.mjs/baseScene.d.ts
  src/foundry/common/documents.mjs/baseTile.d.ts
  src/foundry/common/documents.mjs/baseWall.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/ambientSoundDocument.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/noteDocument.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/tileDocument.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/wallDocument.d.ts
  src/foundry/foundry.js/clientDocuments/scene.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/index.d.ts
  test-d/foundry/common/data/data.mjs/ambientSoundData.test-d.ts
  test-d/foundry/common/data/data.mjs/measuredTemplateData.test-d.ts
  test-d/foundry/common/data/data.mjs/noteData.test-d.ts
  test-d/foundry/common/data/data.mjs/sceneData.test-d.ts
  test-d/foundry/common/data/data.mjs/tileData.test-d.ts
  test-d/foundry/common/data/data.mjs/wallData.test-d.ts
  test-d/foundry/common/documents.mjs/baseScene.test-d.ts
  test-d/foundry/common/documents.mjs/baseWall.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/ambientSoundDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/noteDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/tileDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/wallDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/scene.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/controlsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/backgroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/foregroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/wall.test-d.ts
Labels: foundry 0.8.x, version update

#957 Canvas → 0.8.8
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/canvasAnimation.d.ts
  src/foundry/foundry.js/perceptionManager.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/canvas.test-d.ts
  test-d/foundry/foundry.js/canvasAnimation.test-d.ts
  test-d/foundry/foundry.js/perceptionManager.test-d.ts
Labels: foundry 0.8.x, version update

#964 PlayerList → 0.8.8
  src/foundry/foundry.js/applications/playerList.d.ts
Labels: foundry 0.8.x, version update

#966 BLEND_MODES → 0.8.8
  src/foundry/foundry.js/pixi/blendModes.d.ts
Labels: foundry 0.8.x, version update

#968 Cursor → 0.8.8
  src/foundry/foundry.js/pixi/containers/cursor.d.ts
  test-d/foundry/foundry.js/pixi/containers/cursor.test-d.ts
Labels: foundry 0.8.x, version update

#972 PreciseText → 0.8.8
  src/foundry/foundry.js/pixi/texts/preciseText.d.ts
Labels: foundry 0.8.x, version update

#962 SearchFilter → 0.8.8
  src/foundry/foundry.js/searchFilter.d.ts
  test-d/foundry/foundry.js/searchFilter.test-d.ts
Labels: foundry 0.8.x, version update

#973 Update ResizeHandle to 0.8.8
  src/foundry/foundry.js/pixi/graphics/resizeHandle.d.ts
Labels: foundry 0.8.x, version update

#963 UserTargets → 0.8.8
  src/foundry/foundry.js/userTargets.d.ts
  test-d/foundry/foundry.js/clientDocuments/user.test-d.ts
  test-d/foundry/foundry.js/userTargets.test-d.ts
Labels: version update, foundry 0.8.x

#967 Pause → 0.8.8
  src/foundry/foundry.js/applications/pause.d.ts
Labels: version update, foundry 0.8.x

#969 Ruler → 0.8.8
  src/foundry/foundry.js/pixi/containers/ruler.d.ts
  test-d/foundry/foundry.js/pixi/containers/ruler.test-d.ts
Labels: version update, foundry 0.8.x

#974 Basegrid, HexagonalGrid, SquareGrid → 0.8.8
  src/foundry/foundry.js/pixi/containers/baseGrid.d.ts
  src/foundry/foundry.js/pixi/containers/baseGrids/hexagonalGrid.d.ts
  src/foundry/foundry.js/pixi/containers/baseGrids/squareGrid.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/gridLayer.d.ts
Labels: version update, foundry 0.8.x

#971 Various Shaders → 0.8.8
  src/foundry/foundry.js/pixi/shaders/abstractBaseShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/chromaColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/emanationColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/energyFieldColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/fogColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/hexaDomeColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/lightDomeColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/pulseColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/torchColorationShader.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/waveColorationShader.d.ts
  test-d/foundry/foundry.js/pixi/shaders/abstractBaseShader.test-d.ts
Labels: version update, foundry 0.8.x

#970 KeyboardManager → 0.8.8
  src/foundry/foundry.js/keyboardManager.d.ts
  test-d/foundry/foundry.js/keyboardManager.test-d.ts
Labels: version update, foundry 0.8.x

#1109 AmbientLightDocument → 0.8.8
  src/foundry/foundry.js/clientDocuments/canvasDocuments/ambientLightDocument.d.ts
Labels: version update, foundry 0.8.x

#1112 Remove import for non exiting actorTokenHelpers
  src/foundry/index.d.ts
Labels: foundry 0.8.x

#1113 0.8.x/source polygon
  src/foundry/foundry.js/pixi/containers/baseGrids/index.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/index.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/index.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/index.d.ts
  src/foundry/foundry.js/pixi/containers/index.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/index.d.ts
  src/foundry/foundry.js/pixi/filters/index.d.ts
  src/foundry/foundry.js/pixi/graphics/index.d.ts
  src/foundry/foundry.js/pixi/index.d.ts
  src/foundry/foundry.js/pixi/polygons/index.d.ts
  src/foundry/foundry.js/pixi/polygons/sourcePolygon.d.ts
  src/foundry/foundry.js/pixi/rectangles/index.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/index.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardColorationShaders/index.d.ts
  src/foundry/foundry.js/pixi/shaders/abstractBaseShaders/standardIlluminationShaders/index.d.ts
  src/foundry/foundry.js/pixi/shaders/index.d.ts
  src/foundry/foundry.js/pixi/texts/index.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/pixi/polygons/sourcePolygon.test-d.ts
Labels: foundry 0.8.x

#1115 Update Ray
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/ray.d.ts
Labels: version update, foundry 0.8.x

#1110 0.8.x/audio
  src/foundry/foundry.js/audioContainer.d.ts
  src/foundry/foundry.js/audioHelper.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/sound.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/audioContainer.test-d.ts
  test-d/foundry/foundry.js/audioHelper.test-d.ts
  test-d/foundry/foundry.js/sound.test-d.ts
Labels: version update, foundry 0.8.x

#1111 Update HandlebarsHelpers
  src/foundry/foundry.js/handlebarsHelpers.d.ts
Labels: version update, foundry 0.8.x

#1114 Update Quadtree
  src/foundry/foundry.js/quadtree.d.ts
Labels: version update, foundry 0.8.x

#1119 Allow anything with an id as whisper constr arg
  src/foundry/common/data/data.mjs/chatMessageData.d.ts
  test-d/foundry/common/data/data.mjs/chatMessageData.test-d.ts
Labels: bug, foundry 0.8.x

#1117 CombatantConfig → 0.8.8
  src/foundry/foundry.js/applications/formApplications/combatantConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/combatantConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/combatantConfig.test-d.ts
Labels: version update, foundry 0.8.x

#1116 FogExploration → 0.8.8
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/common/data/data.mjs/fogExplorationData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/documents.mjs/baseFogExploration.d.ts
  src/foundry/foundry.js/clientDocuments/fogExploration.d.ts
  test-d/foundry/common/data/data.mjs/fogExplorationData.test-d.ts
  test-d/foundry/common/documents.mjs/baseFogExploration.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/fogExploration.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
Labels: version update, foundry 0.8.x

#976 StoredDocument [2]: Collections
  src/foundry/foundry.js/applications/sidebarTabs/combatTracker.d.ts
  src/foundry/foundry.js/collections/documentCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/actors.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/folders.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/messages.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/noteDocument.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/compendiumCollection.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/actors.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/folders.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/items.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/journal.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/macros.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/messages.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/rollTables.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/users.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/worldSettings.test-d.ts
Labels: foundry 0.8.x

#1152 Update most things for for 0.8.9
  src/foundry/common/data/data.mjs/combatantData.d.ts
  src/foundry/common/data/data.mjs/drawingData.d.ts
  src/foundry/common/data/data.mjs/sceneData.d.ts
  src/foundry/common/data/data.mjs/tileData.d.ts
  src/foundry/common/packages.mjs/moduleData.d.ts
  src/foundry/common/packages.mjs/systemData.d.ts
  src/foundry/common/packages.mjs/worldData.d.ts
  src/foundry/foundry.js/applications/formApplications/permissionConfig.d.ts
  src/foundry/foundry.js/applications/playerList.d.ts
  src/foundry/foundry.js/applications/sceneNavigation.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/chatLog.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/combatTracker.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/compendiumDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/actorDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/itemDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/journalDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/playlistDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/sceneDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectory.d.ts
  src/foundry/foundry.js/audioContainer.d.ts
  src/foundry/foundry.js/audioHelper.d.ts
  src/foundry/foundry.js/avMaster.d.ts
  src/foundry/foundry.js/avSettings.d.ts
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  src/foundry/foundry.js/clientDocuments/combat.d.ts
  src/foundry/foundry.js/clientDocuments/combatant.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/actors.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/worldSettings.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/contextMenu.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/handlebarsHelpers.d.ts
  src/foundry/foundry.js/hooks.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/controlsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.d.ts
  src/foundry/foundry.js/roll.d.ts
  src/foundry/foundry.js/sound.d.ts
  src/foundry/foundry.js/textEditor.d.ts
  test-d/foundry/foundry.js/audioContainer.test-d.ts
  test-d/foundry/foundry.js/canvas.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/combatant.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/actors.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/controlsLayer.test-d.ts
  test-d/foundry/foundry.js/sound.test-d.ts
Labels: foundry 0.8.x

#1153 Add an npm badge for latest tag
  README.md
Labels: documentation, types, foundry 0.8.x

#1121 Use `import type` where needed
  src/types/helperTypes.d.ts
  test-d/foundry/common/abstract/data.mjs.test-d.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/common/documents.mjs/baseActor.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
  test-d/foundry/common/documents.mjs/baseScene.test-d.ts
  test-d/foundry/common/documents.mjs/baseUser.test-d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.test-d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.test-d.ts
  test-d/foundry/foundry.js/canvasDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocumentMixin.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/user.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/backgroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/foregroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObject.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/token.test-d.ts
  test-d/foundry/foundry.js/roll.test-d.ts
  tsconfig.json
Labels: types, good first issue, foundry 0.8.x

#1157 Update GridConfig to 0.8.9
  src/foundry/foundry.js/applications/formApplications/gridConfig.d.ts
Labels: foundry 0.8.x

#1155 Update Sidebar to 0.8.9
  src/foundry/foundry.js/applications/sidebar.d.ts
Labels: foundry 0.8.x

#1154 Add new Hooks documentation
  src/foundry/foundry.js/hooks.d.ts
Labels: documentation, version update, foundry 0.8.x

#1156 Update FolderConfig to 0.8.9
  src/foundry/foundry.js/applications/formApplications/folderConfig.d.ts
Labels: foundry 0.8.x

#1160 Update AV related classes
  src/foundry/foundry.js/avClient.d.ts
  src/foundry/foundry.js/avClients/easyRTCClient.d.ts
  src/foundry/foundry.js/avClients/index.d.ts
  src/foundry/foundry.js/avClients/simplePeerAVClient.d.ts
  src/foundry/foundry.js/avMaster.d.ts
  src/foundry/foundry.js/avSettings.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/index.d.ts
  src/types/augments/simple-peer.d.ts
  src/types/utils.d.ts
  test-d/foundry/avSettings.test-d.ts
  test-d/foundry/foundry.js/avMaster.test-d.ts
Labels: foundry 0.8.x

#1162 Improve ChatMessage#getWhisperRecipients
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
Labels: foundry 0.8.x

#1158 Properly type Application.RenderOptions and update JournalSheet to 0.8.9
  src/foundry/foundry.js/application.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUD.d.ts
  src/foundry/foundry.js/applications/basePlaceableHUDs/tokenHUD.d.ts
  src/foundry/foundry.js/applications/cameraViews.d.ts
  src/foundry/foundry.js/applications/compendium.d.ts
  src/foundry/foundry.js/applications/dialog.d.ts
  src/foundry/foundry.js/applications/filePicker.d.ts
  src/foundry/foundry.js/applications/formApplication.d.ts
  src/foundry/foundry.js/applications/formApplications/ambientSoundConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/avConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/combatTrackerConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/activeEffectConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/itemSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/journalSheet.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/permissionControl.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/playlistConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/rollTableConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/sceneConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/userConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/drawingConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/entitySheetConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/folderConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/gridConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/imagePopout.d.ts
  src/foundry/foundry.js/applications/formApplications/lightConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/moduleManagement.d.ts
  src/foundry/foundry.js/applications/formApplications/noteConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/permissionConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/playlistSoundConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/settingsConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/tileConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/tokenConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/worldConfig.d.ts
  src/foundry/foundry.js/applications/frameViewer.d.ts
  src/foundry/foundry.js/applications/hotbar.d.ts
  src/foundry/foundry.js/applications/notifications.d.ts
  src/foundry/foundry.js/applications/pause.d.ts
  src/foundry/foundry.js/applications/playerList.d.ts
  src/foundry/foundry.js/applications/sceneControls.d.ts
  src/foundry/foundry.js/applications/sceneNavigation.d.ts
  src/foundry/foundry.js/applications/sidebar.d.ts
  src/foundry/foundry.js/applications/sidebarTab.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/chatLog.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/combatTracker.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/compendiumDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/settings.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/actorDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/macroDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/playlistDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectory.d.ts
  test-d/foundry/foundry.js/applications/formApplications/documentSheets/journalSheet.test-d.ts
Labels: foundry 0.8.x
