Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-07, with the labels that each got.

#905 ChatSpeakerData, ChatMessageData, BaseChatMessage, ChatMessage → 0.8.8
  src/foundry/common/data/data.mjs/chatMessageData.d.ts
  src/foundry/common/data/data.mjs/chatSpeakerData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/documents.mjs/baseChatMessage.d.ts
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  test-d/foundry/common/data/data.mjs/chatMessageData.test-d.ts
  test-d/foundry/common/documents.mjs/baseChatMessage.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/messages.test-d.ts
Labels: foundry 0.8.x, version update

#916 Small fix to PrototypeTokenData
  src/foundry/common/data/data.mjs/prototypeTokenData.d.ts
  src/foundry/common/data/data.mjs/tokenBarData.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  test-d/foundry/common/data/data.mjs/prototypeTokenData.test-d.ts
Labels: bug, foundry 0.8.x

#915 CombatData, BaseCombat, Combat
  src/foundry/common/data/data.mjs/combatData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/documents.mjs/baseCombat.d.ts
  src/foundry/foundry.js/clientDocuments/combat.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.d.ts
  test-d/foundry/common/data/data.mjs/combatData.test-d.ts
  test-d/foundry/common/documents.mjs/baseCombat.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.test-d.ts
Labels: foundry 0.8.x, version update

#920 0.8.x/remaining world collections
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectory.d.ts
  src/foundry/foundry.js/clientDocuments/user.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/index.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/journal.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/rollTables.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/scenes.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/users.d.ts
  src/foundry/foundry.js/collections/entityCollection.d.ts
  src/foundry/foundry.js/collections/entityCollections/index.d.ts
  src/foundry/foundry.js/collections/entityCollections/rollTables.d.ts
  src/foundry/foundry.js/collections/entityCollections/users.d.ts
  src/foundry/foundry.js/collections/index.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/entity.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/folders.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/messages.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/rollTables.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/users.test-d.ts
Labels: foundry 0.8.x, version update

#922 Remove classes in setup.js
  src/foundry/foundry.js/applications/eula.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  src/foundry/foundry.js/applications/formApplications/moduleManagement.d.ts
  src/foundry/foundry.js/applications/formApplications/setupConfigurationForm.d.ts
  src/foundry/foundry.js/applications/formApplications/userManagement.d.ts
  src/foundry/foundry.js/applications/index.d.ts
  src/foundry/foundry.js/applications/installPackage.d.ts
  src/foundry/foundry.js/applications/updateNotes.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/setupConfiguration.d.ts
  src/foundry/index.d.ts
Labels: foundry 0.8.x, setup.js, version update

#921 Update Game to 0.8.x
  src/foundry/common/constants.mjs.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  src/foundry/common/packages.mjs/index.d.ts
  src/foundry/common/packages.mjs/moduleData.d.ts
  src/foundry/common/packages.mjs/packageCompendiumData.d.ts
  src/foundry/common/packages.mjs/packageData.d.ts
  src/foundry/common/packages.mjs/packageDependencyData.d.ts
  src/foundry/common/packages.mjs/packageLanguageData.d.ts
  src/foundry/common/packages.mjs/systemData.d.ts
  src/foundry/common/packages.mjs/tagPackageAvailability.d.ts
  src/foundry/common/packages.mjs/worldData.d.ts
  src/foundry/foundry.js/applications/formApplications/moduleManagement.d.ts
  src/foundry/foundry.js/applications/formApplications/worldConfig.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/macroDirectory.d.ts
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/features.d.ts
  src/foundry/foundry.js/game.d.ts
  src/foundry/foundry.js/globalVariables.d.ts
  src/foundry/foundry.js/globals.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
  test-d/foundry/foundry.js/game.test-d.ts
  test-d/foundry/foundry.js/globalVariables.test-d.ts
  test-d/foundry/foundry.js/globals.test-d.ts
Labels: foundry 0.8.x, version update

#924 Allow users to configure game, canvas, and socket to be typed more leniently
  src/foundry/foundry.js/globalVariables.d.ts
Labels: foundry 0.8.x

#926 small token data fix
  src/foundry/common/data/data.mjs/tokenData.d.ts
Labels: bug, foundry 0.8.x

#917 Update Hooks to 0.8.8
  src/foundry/foundry.js/hooks.d.ts
  src/types/helperTypes.ts
Labels: foundry 0.8.x, version update

#927 Ad a more readable way to extract constructor data from DocumentData.
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/combatData.d.ts
  src/foundry/common/documents.mjs/baseActiveEffect.d.ts
  src/foundry/common/documents.mjs/baseActor.d.ts
  src/foundry/common/documents.mjs/baseChatMessage.d.ts
  src/foundry/common/documents.mjs/baseCombat.d.ts
  src/foundry/common/documents.mjs/baseCombatant.d.ts
  src/foundry/common/documents.mjs/baseDrawing.d.ts
  src/foundry/common/documents.mjs/baseFogExploration.d.ts
  src/foundry/common/documents.mjs/baseItem.d.ts
  src/foundry/common/documents.mjs/baseMacro.d.ts
  src/foundry/common/documents.mjs/baseTableResult.d.ts
  src/foundry/common/documents.mjs/baseWall.d.ts
  src/foundry/common/packages.mjs/packageData.d.ts
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/activeEffect.d.ts
  src/foundry/foundry.js/clientDocuments/actor.d.ts
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  src/foundry/foundry.js/clientDocuments/combat.d.ts
  src/foundry/foundry.js/clientDocuments/folder.d.ts
  src/foundry/foundry.js/clientDocuments/item.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollections/playlists.d.ts
  src/types/helperTypes.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/foundry.js/clientDocumentMixin.test-d.ts
Labels: foundry 0.8.x

#918 Drawing → 0.8.8
  src/foundry/common/data/data.mjs/drawingData.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/documents.mjs/baseDrawing.d.ts
  src/foundry/foundry.js/applications/formApplications/drawingConfig.d.ts
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/drawingDocument.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/measuredTemplateDocument.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/drawing.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.d.ts
  src/foundry/index.d.ts
  test-d/foundry/common/data/data.mjs/drawingData.test-d.ts
  test-d/foundry/common/documents.mjs/baseDrawing.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/drawingDocument.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/measuredTemplateDocument.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/drawing.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.test-d.ts
Labels: foundry 0.8.x, version update

#929 Replace ReturnType<this['update']> with Promise<this | undefined>
  src/foundry/foundry.js/clientDocuments/combat.d.ts
  src/foundry/foundry.js/clientDocuments/combatant.d.ts
Labels: bug, foundry 0.8.x

#930 Fix parameter types of some hooks
  src/foundry/foundry.js/hooks.d.ts
Labels: bug, foundry 0.8.x

#932 allow MergeObjectOptions in update and updateDocuments
  src/foundry/common/abstract/document.mjs.d.ts
Labels: bug, foundry 0.8.x

#933 allow MergeObjectOptions in update and updateDocuments
  src/foundry/foundry.js/clientDocumentMixin.d.ts
Labels: foundry 0.8.x

#903 Layers → 0.8.8
  src/foundry/common/constants.mjs.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/sceneData.d.ts
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/canvasDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/fogExploration.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/hooks.d.ts
  src/foundry/foundry.js/keyboardManager.d.ts
  src/foundry/foundry.js/pixi/containers/cachedContainer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/backgroundLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/controlsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/effectsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/gridLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/index.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/backgroundLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/foregroundLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/notesLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/soundsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/templateLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/tilesLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/tokenLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/sightLayer.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/filters/abstractBaseMaskFilter.d.ts
  src/foundry/index.d.ts
  src/types/helperTypes.ts
  test-d/foundry/foundry.js/clientDocuments/canvasDocuments/measuredTemplateDocument.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/cachedContainer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/controlsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/effectsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/gridLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/drawingsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/lightingLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/backgroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayers/foregroundLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/notesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/soundsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/templateLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/tokenLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/wallsLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/sightLayer.test-d.ts
Labels: foundry 0.8.x, version update

#919 Support custom flags
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/activeEffectData.d.ts
  src/foundry/common/data/data.mjs/actorData.d.ts
  src/foundry/common/data/data.mjs/ambientLightData.d.ts
  src/foundry/common/data/data.mjs/chatMessageData.d.ts
  src/foundry/common/data/data.mjs/combatData.d.ts
  src/foundry/common/data/data.mjs/combatantData.d.ts
  src/foundry/common/data/data.mjs/folderData.d.ts
  src/foundry/common/data/data.mjs/itemData.d.ts
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/common/data/data.mjs/macroData.d.ts
  src/foundry/common/data/data.mjs/measuredTemplateData.d.ts
  src/foundry/common/data/data.mjs/tokenData.d.ts
  src/foundry/common/data/data.mjs/userData.d.ts
  src/foundry/foundry.js/config.d.ts
  src/types/helperTypes.ts
  test-d/foundry/common/abstract/document.mjs.test-d.ts
  test-d/foundry/common/data/data.mjs/actorData.test-d.ts
  test-d/foundry/common/documents.mjs/baseActor.test-d.ts
  test-d/foundry/common/documents.mjs/baseItem.test-d.ts
Labels: foundry 0.8.x, help wanted

#935 Get SceneControls closer to the source code
  src/foundry/foundry.js/applications/sceneControls.d.ts
  test-d/foundry/foundry.js/applications/sceneControls.test-d.ts
Labels: foundry 0.8.x, version update

#936 Update ContextMenu
  src/foundry/foundry.js/contextMenu.d.ts
  test-d/foundry/foundry.js/contextMenu.test-d.ts
Labels: foundry 0.8.x, version update

#937 Update Localization
  src/foundry/foundry.js/localization.d.ts
  test-d/foundry/foundry.js/localization.test-d.ts
Labels: foundry 0.8.x, version update

#940 Update GameTime
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/gameTime.d.ts
  test-d/foundry/foundry.js/gameTime.test-d.ts
Labels: foundry 0.8.x, version update

#941 Update texture utils
  src/foundry/foundry.js/textureUtils.d.ts
  test-d/foundry/foundry.js/textureUtils.test-d.ts
Labels: foundry 0.8.x, version update

#943 Update Notifcations
  src/foundry/foundry.js/applications/notifications.d.ts
  test-d/foundry/foundry.js/applications/notifications.test-d.ts
Labels: foundry 0.8.x, version update

#934 Remove Entity and update some SideBar related classes
  src/foundry/foundry.js/applications/compendium.d.ts
  src/foundry/foundry.js/applications/formApplications/imagePopout.d.ts
  src/foundry/foundry.js/applications/sidebarTab.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/compendiumDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/settings.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/rollTableDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectory.d.ts
  src/foundry/foundry.js/collections/documentCollections/worldCollection.d.ts
  src/foundry/foundry.js/entity.d.ts
  src/foundry/foundry.js/socketInterface.d.ts
  src/foundry/index.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/combatEncounters.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/fogExplorations.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/folders.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/messages.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/users.test-d.ts
Labels: foundry 0.8.x, version update

#942 Update Hotbar
  src/foundry/foundry.js/applications/hotbar.d.ts
  src/foundry/foundry.js/hooks.d.ts
  test-d/foundry/foundry.js/applications/hotbar.test-d.ts
Labels: foundry 0.8.x, version update

#945 Update ClientSettings
  src/foundry/foundry.js/clientSettings.d.ts
  test-d/foundry/foundry.js/clientSettings.test-d.ts
Labels: foundry 0.8.x, version update

#947 Update ChatMessage#applyRollMode to be more permissive.
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  test-d/foundry/foundry.js/clientDocuments/chatMessage.test-d.ts
Labels: bug, foundry 0.8.x

#954 Distinguish between stored documents and temporary ones
  src/foundry/common/abstract/data.mjs.d.ts
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.d.ts
  src/types/utils.d.ts
  test-d/types/utils.test-d.ts
Labels: foundry 0.8.x

#938 Update FilePicker to 0.8.x
  src/foundry/foundry.js/applications/filePicker.d.ts
  src/types/utils.d.ts
  test-d/types/utils.test-d.ts
Labels: foundry 0.8.x, version update

#956 Update primitives
  src/foundry/common/utils/primitives.mjs.d.ts
  src/foundry/foundry.js/prototypes.d.ts
  src/foundry/index.d.ts
Labels: foundry 0.8.x, version update

#955 0.8.x/setting
  src/foundry/common/abstract/document.mjs.d.ts
  src/foundry/common/data/data.mjs/index.d.ts
  src/foundry/common/data/data.mjs/journalEntryData.d.ts
  src/foundry/common/data/data.mjs/settingData.d.ts
  src/foundry/common/documents.mjs/baseSetting.d.ts
  src/foundry/foundry.js/clientDocuments/actor.d.ts
  src/foundry/foundry.js/clientDocuments/chatMessage.d.ts
  src/foundry/foundry.js/clientDocuments/setting.d.ts
  test-d/foundry/common/data/data.mjs/settingData.test-d.ts
  test-d/foundry/common/documents.mjs/baseSetting.test-d.ts
  test-d/foundry/foundry.js/clientDocuments/setting.test-d.ts
  test-d/foundry/foundry.js/collections/documentCollections/worldCollections/worldSettings.test-d.ts
Labels: foundry 0.8.x, version update

#975 Replace private with protected in Macro
  src/foundry/foundry.js/clientDocuments/macro.d.ts
Labels: bug, foundry 0.8.x
