Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2021-11, with the labels that each got.

#1213 Add uninitialized combat config type
  src/foundry/foundry.js/clientSettings.d.ts
  test-d/foundry/foundry.js/applications/sidebarTabs/combatTracker.test-d.ts
  test-d/foundry/foundry.js/clientSettings.test-d.ts
Labels: bug, foundry 0.8.x

#1214 Update RollTableConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/documentSheets/rollTableConfig.d.ts
Labels: version update, foundry 0.8.x

#1219 Update DrawingConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/drawingConfig.d.ts
Labels: version update, foundry 0.8.x

#1218 Update SceneNavigation for 0.8.x
  src/foundry/foundry.js/applications/sceneNavigation.d.ts
Labels: version update, foundry 0.8.x

#1216 Update SceneConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/documentSheets/sceneConfig.d.ts
Labels: version update, foundry 0.8.x

#1217 Update EntitySheetConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/entitySheetConfig.d.ts
  src/foundry/foundry.js/config.d.ts
Labels: version update, foundry 0.8.x

#1220 Update NoteConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/noteConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  src/foundry/foundry.js/applications/formApplications/noteConfig.d.ts
Labels: version update, foundry 0.8.x

#1221 Move FolderConfig to the correct directory
  src/foundry/foundry.js/applications/formApplications/documentSheets/folderConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
Labels: foundry 0.8.x

#1215 DefaultTokenConfig
  src/foundry/foundry.js/applications/formApplications/defaultTokenConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
Labels: help wanted, version update, foundry 0.8.x

#1225 Update CombatTrackerConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/combatTrackerConfig.d.ts
  src/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.d.ts
Labels: version update, foundry 0.8.x

#1226 Update MeasuredTemplateConfig for foundry 0.8.x
  src/foundry/foundry.js/applications/formApplications/documentSheets/index.d.ts
  src/foundry/foundry.js/applications/formApplications/documentSheets/measuredTemplateConfig.d.ts
  src/foundry/foundry.js/applications/formApplications/index.d.ts
  src/foundry/foundry.js/applications/formApplications/measuredTemplateConfig.d.ts
Labels: version update, foundry 0.8.x

#1223 Update WallConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/wallConfig.d.ts
Labels: version update, foundry 0.8.x

#1227 Update SettingsConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/settingsConfig.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
Labels: version update, foundry 0.8.x

#1224 Update WorldConfig for 0.8.x
  src/foundry/foundry.js/applications/formApplications/worldConfig.d.ts
Labels: version update, foundry 0.8.x

#1231 Update DocumentModificationOptions/DocumentModificationContext for 0.8.x
  src/foundry/common/abstract/document.mjs.d.ts
Labels: version update, foundry 0.8.x

#1228 0.8.x/sidebar directories
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/actorDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/itemDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/journalDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/macroDirectory.d.ts
  src/foundry/foundry.js/applications/sidebarTabs/sidebarDirectories/sceneDirectory.d.ts
Labels: version update, foundry 0.8.x

#1232 Update CompendiumCollection for 0.8.9
  src/foundry/common/abstract/backend.mjs.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  test-d/foundry/foundry.js/collections/documentCollections/compendiumCollection.test-d.ts
Labels: version update, foundry 0.8.x

#1229 Update PointSource for 0.8.x
  src/foundry/foundry.js/pointSource.d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/sightLayer.test-d.ts
  test-d/foundry/foundry.js/pointSource.test-d.ts
Labels: version update, foundry 0.8.x

#1230 0.8.x/camera
  src/foundry/foundry.js/applications/cameraViews.d.ts
  src/foundry/foundry.js/cameraPopoutAppWrapper.d.ts
Labels: version update, foundry 0.8.x

#1234 Typhonjs fvtt scratch/foundry 0.8.x
  index-lenient.d.ts
  package.json
  src/foundry/foundry.js/globalVariables.d.ts
  test-d/tsconfig.json
Labels: types, foundry 0.8.x, improvement suggestion
