Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2022-03, with the labels that each got.

#1640 Fix Game#PackageData#packs
  src/foundry/foundry.js/game.d.ts
Labels: bug

#1639 Update stuff that changed for V9.255
  src/foundry/common/constants.mjs.d.ts
  src/foundry/common/documents.mjs/baseMacro.d.ts
  src/foundry/common/documents.mjs/baseMeasuredTemplate.d.ts
  src/foundry/common/packages.mjs/packageCompendiumData.d.ts
  src/foundry/common/utils/helpers.mjs.d.ts
  src/foundry/common/utils/primitives.mjs.d.ts
  src/foundry/foundry.js/applications/notifications.d.ts
  src/foundry/foundry.js/canvas.d.ts
  src/foundry/foundry.js/clientDatabaseBackend.d.ts
  src/foundry/foundry.js/clientDocuments/cards.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  src/foundry/foundry.js/config.d.ts
  src/foundry/foundry.js/pixi/polygons/pointSourcePolygon.d.ts
  src/foundry/foundry.js/pixi/polygons/pointSourcePolygons/clockwiseSweepPolygon.d.ts
  src/foundry/foundry.js/rollTerms/diceTerms/die.d.ts
  src/foundry/foundry.js/rollTerms/diceTerms/fateDie.d.ts
  src/foundry/foundry.js/videoHelper.d.ts
  test-d/foundry/foundry.js/diceTerms/fateDie.test-d.ts
  test-d/foundry/foundry.js/pixi/polygons/pointSourcePolygons/clockwiseSweepPolygon.test-d.ts
Labels: version update, foundry V9

#1645 Update Semaphore for v9
  src/foundry/common/utils/semaphore.mjs.d.ts
Labels: version update, foundry V9

#1646 Add http.mjs for v9
  src/foundry/common/utils/http.mjs.d.ts
  src/foundry/common/utils/module.mjs.d.ts
  test-d/foundry/common/utils/http.mjs.test-d.ts
Labels: version update, foundry V9

#1647 V9/features
  src/foundry/foundry.js/features.d.ts
  src/foundry/foundry.js/fonts.d.ts
  src/foundry/foundry.js/globalVariables.d.ts
  src/foundry/index.d.ts
Labels: version update, foundry V9

#1648 Update types.mjs and ClientSettings for V9
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/applications/formApplications/settingsConfig.d.ts
  src/foundry/foundry.js/clientSettings.d.ts
  src/foundry/foundry.js/gamepadManager.d.ts
Labels: version update, foundry V9

#1654 Update Actor for V9
  src/foundry/foundry.js/clientDocuments/actor.d.ts
Labels: version update, foundry V9

#1655 Update Item for V9
  src/foundry/foundry.js/clientDocuments/item.d.ts
Labels: version update, foundry V9

#1657 Update Folder to v9
  src/foundry/foundry.js/clientDocuments/folder.d.ts
Labels: version update, foundry V9

#1656 Update TokenDocument for v9
  src/foundry/foundry.js/clientDocuments/canvasDocuments/tokenDocument.d.ts
Labels: version update, foundry V9

#1659 Update Macro for v9
  src/foundry/foundry.js/clientDocuments/macro.d.ts
Labels: version update, foundry V9

#1660 Update ActiveEffect for v9
  src/foundry/foundry.js/clientDocuments/activeEffect.d.ts
Labels: version update, foundry V9

#1661 Update PlaylistSound for v9
  src/foundry/foundry.js/clientDocuments/playlistSound.d.ts
Labels: version update, foundry V9

#1662 Update Scene for v9
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/scene.d.ts
Labels: version update, foundry V9

#1663 Update RollTyble for v9
  src/foundry/foundry.js/clientDocuments/rollTable.d.ts
Labels: version update, foundry V9

#1664 Update PrototypeTokenDocument for v9
  src/foundry/foundry.js/clientDocuments/prototypeToken.d.ts
Labels: version update, foundry V9

#1665 Update User for v9
  src/foundry/foundry.js/clientDocuments/user.d.ts
Labels: version update, foundry V9

#1653 Update PlaceableObject for v9
  src/foundry/foundry.js/pixi/containers/placeableObject.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/drawing.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/measuredTemplate.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/note.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/tile.d.ts
  src/foundry/foundry.js/pixi/containers/placeableObjects/token.d.ts
Labels: version update, foundry V9

#1650 Update grid related classes to v9
  src/foundry/foundry.js/pixi/containers/baseGrid.d.ts
  src/foundry/foundry.js/pixi/containers/baseGrids/hexagonalGrid.d.ts
  src/foundry/foundry.js/pixi/containers/baseGrids/squareGrid.d.ts
  src/foundry/foundry.js/pixi/containers/canvasLayers/gridLayer.d.ts
Labels: version update, foundry V9

#1649 Update AV related classes for V9
  src/foundry/foundry.js/avClient.d.ts
  src/foundry/foundry.js/avClients/easyRTCClient.d.ts
  src/foundry/foundry.js/avClients/index.d.ts
  src/foundry/foundry.js/avClients/simplePeerAVClient.d.ts
  src/foundry/foundry.js/avMaster.d.ts
  src/foundry/foundry.js/avSettings.d.ts
  test-d/foundry/foundry.js/avMaster.test-d.ts
  test-d/foundry/foundry.js/avSettings.test-d.ts
Labels: version update, foundry V9

#1666 Update ActorSheet to v9.255
  src/foundry/foundry.js/applications/formApplications/documentSheets/actorSheet.d.ts
Labels: version update, foundry V9

#1667 Update HandlebarsHelpers for v9
  src/foundry/foundry.js/handlebarsHelpers.d.ts
Labels: version update, foundry V9

#1669 Update MouseInteractionManager for v9
  src/foundry/foundry.js/mouseInteractionManager.d.ts
Labels: version update, foundry V9

#1670 Update PerceptionManager for v9
  src/foundry/foundry.js/perceptionManager.d.ts
  test-d/foundry/foundry.js/perceptionManager.test-d.ts
Labels: version update, foundry V9

#1671 Update Drawing for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/drawing.d.ts
Labels: version update, foundry V9

#1672 Update AmbientLight for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientLight.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/ambientLight.test-d.ts
Labels: version update, foundry V9

#1673 Update Note for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/note.d.ts
Labels: version update, foundry V9

#1674 Update AmbientSound for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/ambientSound.test-d.ts
Labels: version update, foundry V9

#1680 Update Dialog for v9
  src/foundry/foundry.js/applications/dialog.d.ts
  src/foundry/foundry.js/clientDocumentMixin.d.ts
  src/foundry/foundry.js/clientDocuments/cards.d.ts
  src/foundry/foundry.js/clientDocuments/folder.d.ts
  src/foundry/foundry.js/collections/documentCollections/compendiumCollection.d.ts
  test-d/foundry/foundry.js/applications/dialog.test-d.ts
Labels: version update, foundry V9

#1681 Update SideBar for v9
  src/foundry/foundry.js/applications/sidebar.d.ts
Labels: version update, foundry V9

#1682 Update Playlist for v9
  src/foundry/foundry.js/clientDocuments/playlist.d.ts
Labels: version update, foundry V9

#1683 Update WorldConfig for v9
  src/foundry/foundry.js/applications/formApplications/worldConfig.d.ts
Labels: version update, foundry V9

#1684 Update SceneNavigation for v9
  src/foundry/foundry.js/applications/sceneNavigation.d.ts
Labels: version update, foundry V9

#1687 Update AVConfig for v9
  src/foundry/common/types.mjs.d.ts
  src/foundry/foundry.js/applications/formApplications/avConfig.d.ts
  test-d/foundry/foundry.js/applications/formApplications/avConfig.test-d.ts
Labels: bug, version update, foundry V9

#1677 Update Tile for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/tile.d.ts
Labels: version update, foundry V9

#1679 Update Wall for v9
  src/foundry/foundry.js/pixi/containers/placeableObjects/wall.d.ts
  test-d/foundry/foundry.js/pixi/containers/placeableObjects/wall.test-d.ts
Labels: version update, foundry V9

#1689 Allow number settings to use choices
  src/foundry/common/types.mjs.d.ts
Labels: bug, foundry V9

#1693 Update Hotbar for v9
  src/foundry/foundry.js/applications/hotbar.d.ts
Labels: version update, foundry V9

#1694 Update CameraViews for v9
  src/foundry/foundry.js/applications/cameraViews.d.ts
Labels: version update, foundry V9

#1695 Update TokenHUD for v9
  src/foundry/foundry.js/applications/basePlaceableHUDs/tokenHUD.d.ts
Labels: version update, foundry V9

#1696 Update PlaceablesLayer to v9.255
  src/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayer.test-d.ts
  test-d/foundry/foundry.js/pixi/containers/canvasLayers/placeablesLayers/mapLayer.test-d.ts
Labels: version update, foundry V9

#1697 Update ControlIcon for v9
  src/foundry/foundry.js/pixi/containers/controlIcon.d.ts
Labels: version update, foundry V9

#1699 Update InvitationLinks for v9
  src/foundry/foundry.js/applications/invitationLinks.d.ts
  src/foundry/foundry.js/game.d.ts
Labels: version update, foundry V9

#1698 Add SupportDetails and SupportReportData for v9
  src/foundry/foundry.js/applications/index.d.ts
  src/foundry/foundry.js/applications/supportDetails.d.ts
Labels: version update, foundry V9
