Repository League-of-Foundry-Developers/foundry-vtt-types, pull requests merged in 2024-07, with the labels that each got.

#2592 Updates `string.mjs`, `number.mjs`, and `math.mjs`
  src/foundry/common/primitives/math.d.mts
  src/foundry/common/primitives/number.d.mts
  src/foundry/common/primitives/string.d.mts
  tests/foundry/common/primitives/math.mjs.test-d.ts
Labels: foundry v12

#2633 V12/dependencies
  package-lock.json
  package.json
Labels: foundry v12

#2631 Canvas/edges
  src/foundry/client-esm/canvas/edges/collision.d.mts
  src/foundry/client-esm/canvas/edges/edge.d.mts
  src/foundry/client-esm/canvas/edges/edges.d.mts
  src/foundry/client-esm/canvas/edges/vertex.d.mts
  src/foundry/client/pixi/core/shapes/polygon-helpers.d.mts
  src/foundry/client/pixi/core/shapes/source-polygon.d.mts
  src/foundry/client/pixi/perception/clockwise-sweep.d.mts
  src/foundry/client/pixi/placeables/wall.d.mts
  tests/foundry/client-esm/canvas/edges/collision-result.mjs.test-d.ts
  tests/foundry/client-esm/canvas/edges/edges.mjs.test-d.ts
  tests/foundry/client-esm/canvas/edges/vertex.mjs.test-d.ts
  tests/foundry/client/pixi/core/shapes/polygon-helpers.test-d.ts
Labels: canvas, foundry v12

#2630 Update iterable-weak-set.mjs #2607
  src/foundry/common/utils/iterable-weak-set.d.mts
  tests/foundry/common/utils/iterable-weak-set.test-d.ts
Labels: foundry v12

#2627 update-helpers#2604
  src/foundry/common/utils/helpers.d.mts
  tests/foundry/common/utils/helpers.mjs.test-d.ts
Labels: foundry v12

#2636 Adjusted Document helper types
  src/foundry/common/constants.d.mts
  src/types/helperTypes.d.mts
Labels: documents, foundry v12

#2635 Client-esm/Canvas/Sources
  src/foundry/client-esm/canvas/edges/edge.d.mts
  src/foundry/client-esm/canvas/sources/base-effect-source.d.mts
  src/foundry/client-esm/canvas/sources/base-light-source.d.mts
  src/foundry/client-esm/canvas/sources/global-light-source.d.mts
  src/foundry/client-esm/canvas/sources/point-darkness-source.d.mts
  src/foundry/client-esm/canvas/sources/point-effect-source.d.mts
  src/foundry/client-esm/canvas/sources/point-light-source.d.mts
  src/foundry/client-esm/canvas/sources/point-movement-source.d.mts
  src/foundry/client-esm/canvas/sources/point-sound-source.d.mts
  src/foundry/client-esm/canvas/sources/point-vision-source.d.mts
  src/foundry/client-esm/canvas/sources/rendered-effect-source.d.mts
  src/foundry/client/data/abstract/directory-collection-mixin.d.mts
  src/foundry/client/data/abstract/world-collection.d.mts
  src/foundry/client/data/collections/compendium-collection.d.mts
  src/foundry/client/data/collections/compendium-packs.d.mts
  tests/foundry/client-esm/canvas/sources/base-effect-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/base-light-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/global-light-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/point-darkness-sources.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/point-light-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/point-movement-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/point-sound-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/point-vision-source.mjs.test-d.ts
  tests/foundry/client-esm/canvas/sources/rendered-effect-source.mjs.test-d.ts
Labels: canvas, foundry v12

#2649 Fixed DataModelValidationError
  src/foundry/common/abstract/data.d.mts
  src/foundry/common/data/validation-failure.d.mts
  tests/foundry/common/data/validation-failure.mjs.test-d.ts
Labels: bug, foundry v11

#2648 V12/backend
  src/foundry/client-esm/data/client-backend.d.mts
  src/foundry/common/abstract/_types.d.mts
  src/foundry/common/abstract/backend.d.mts
  src/types/helperTypes.d.mts
  tests/foundry/client-esm/data/client-backend.mjs.test-d.ts
Labels: documents, foundry v12

#2616 client-esm.helpers.compendium-art
  src/foundry/client-esm/helpers/_types.d.mts
  src/foundry/client-esm/helpers/compendium-art.d.mts
  tests/foundry/client-esm/helpers/compendium-art.test-d.ts
Labels: foundry v12

#2657 Added DocumentSocketResponse
  src/foundry/common/abstract/module.d.mts
  src/foundry/common/abstract/socket.d.mts
Labels: foundry v12

#2656 V12/329
  package.json
  src/foundry/client-esm/applications/elements/document-tags.d.mts
  src/foundry/client-esm/applications/elements/file-picker.d.mts
  src/foundry/client-esm/applications/elements/form-element.d.mts
  src/foundry/client-esm/applications/elements/hue-slider.d.mts
  src/foundry/client-esm/applications/elements/multi-select.d.mts
  src/foundry/client-esm/applications/elements/prosemirror-editor.d.mts
  src/foundry/client-esm/applications/elements/string-tags.d.mts
  src/foundry/common/utils/event-emitter.d.mts
Labels: foundry v12

#2653 v12/application.dice.roll-resolver
  src/foundry/client-esm/applications/dice/roll-resolver.d.mts
  tests/foundry/client-esm/applications/api/roll-resolver.test-d.ts
Labels: foundry v12

#2651 V12/common.utils.bitmask-wordtree-stringtree
  src/foundry/common/utils/bitmask.d.mts
  src/foundry/common/utils/module.d.mts
  src/foundry/common/utils/string-tree.d.mts
  src/foundry/common/utils/word-tree.d.mts
  tests/foundry/common/utils/bitmask.mjs.test-d.ts
  tests/foundry/common/utils/string-tree.mjs.test-d.ts
  tests/foundry/common/utils/word-tree.mjs.test-d.ts
Labels: foundry v12

#2672 Updated appv2 _types
  src/foundry/client-esm/applications/_types.d.mts
  src/foundry/client-esm/applications/api/application.d.mts
  tests/foundry/client-esm/applications/api/application.test-d.ts
Labels: foundry v12

#2655 added apps files
  src/foundry/client-esm/applications/apps/compendium-art-config.d.mts
  src/foundry/client-esm/applications/apps/permission-config.d.mts
  tests/foundry/client-esm/applications/apps/compendium-art-config.test-d.ts
  tests/foundry/client-esm/applications/apps/permission-config.test-d.ts
Labels: foundry v12

#2599 Fix game.packs type, update game.data.packs properties
  src/foundry/client/game.d.mts
Labels: foundry v12

#2600 Update common/types.d.mts for v12
  src/foundry/common/types.d.mts
Labels: foundry v12
